html {
	scroll-behavior: smooth;
}

body{
	font-family: 'Poppins', sans-serif;
	background-color: #F3FAFF;
}

.navbar-collapse{
	flex-grow:0;
}
.navbar{
	background-color: #816E9D;
}
.nav-link{
	color: white;
}
.greeting {
	letter-spacing: 1px;
	font-size: 1rem;
	line-height: 1.2;
}

.home-section{
	padding: 215px 190px;
}
.myname{
	font-size: 2.5rem;
	letter-spacing: 2px;
	margin: 24px 0;
}
.highlight{
	color: #8444df;
}
.about-section,
.skills-section,
.work-section{
	padding-bottom: 215px; 
}
.make-line{
	height: 1px;
	background-color: #333;
	width: 4%;
	align-self: center;
}
.some-info {
	width: 96%;
	font-size: 10px;
	letter-spacing: 1px;
	padding: 0 15px;
}
.topic{
	font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.6rem;
    padding-top: 10px;
}
.about-info,
.skill-info-border,
.work-info-border,
.contact-info-border {
	line-height: 1.5;
	letter-spacing: 1px;
	margin-top: 60px;
	padding: 55px 60px;
	border-radius: 30px;
	font-size: large;
	font-weight: 400;
	border: 1px solid #8444df;
	background-color: white;
}

.graduated-from{
	color: #8444df;
}

.form-control{
	padding-top: 10px;
}
.sbmt-btn{
	width:100%;
	text-align: center;
	margin-top: 35px;
}
.submit-button{
	border-radius:35px;
	border: 1px solid #8444df;
	padding: 10px ;
	background-color: white;
	font-size: 0.9rem;
	letter-spacing: 1px;
	width: 12%;
	transition: all 0.3s ease-in;
}
.submit-button:hover{
	background-color: #8444df;
	color: white;
}
.in-touch{
	width: 100%;
	justify-content: space-between;
	display: flex;
	margin-top: 20px;
}
.outlook, .mail{
	width:48%;
	text-align: center;
	padding: 25px 0px;
	border-radius: 25px;
	border: 0.5px solid #ced4da;
}
.contact{
	margin-top: 50px;
}
.form{
	padding-top: 10px;
}
.mb-3{
	margin-top: 10px;
}
.fa-envelope {
	color: #82c690;
	background-color: #F3F9F4;
	padding: 20px;
	border-radius: 5px;
	font-size: 1.7rem;
}
.fa-at{
	color: #1267d0;
	background-color: #E7EFFA;
	padding: 20px;
	border-radius: 5px;
	font-size: 1.7rem;
}
.mail-link{
	color: #333;
}
.mail-link, .mail-text{
	justify-content: center;
	margin-top: 10px;
	text-decoration: none;
}
.mail-link:hover{
	color: #8444df;
}
.mail-text{
	font-size: 0.8rem;
	color: #5F6F81;
	letter-spacing: 1px;
}
.foot{
	width: 100%;
	justify-content: center;
	margin-top: 100px;
}
.foot-text{
	width: 20%;
	font-size: 1rem;
	letter-spacing: 1px;
	text-align: center;
	color: #333;
	margin: 0 auto;
}
.name-footer {
	font-weight: 600;
}
.second-container{
	display: flex;
	justify-content: last baseline;
}
.first-div {
	width: 10%;
	top: 15%;
	position: fixed;
	display: flex;
	flex-direction: column;
}
.second-div {
	width: 90%;
}
.float-icon{
	margin: 0 auto;
	background-color: white;
	border-radius: 15px;
	text-align: center;
	margin-top:6px;
	margin-bottom: 6px;
}
.float-icon:hover {
	box-shadow: 0 .2rem 1rem #8444df !important;
}
.font-icon {
	padding: 20px 20px;
    font-size: larger;
    
}