<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
</head>
<script src="https://kit.fontawesome.com/f60f9d6702.js" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/styles/css/styles.css}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
<body>
	<!-- Navbar Section -->
	<div class="navbar-section">
		<nav class="navbar navbar-expand-lg">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">ℜ𝔦𝔰𝔥𝔦 𝔎𝔲𝔪𝔞𝔯</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse remove-flex-grow"
					id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="#">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="#">About</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Skills</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Work</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
						<!-- <li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Dropdown </a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Something else
									here</a></li>
						</ul></li> -->
						<li class="nav-item"><a class="nav-link disabled">Disabled</a>
						</li>
					</ul>
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search"
							placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-light" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
	</div>

	<!-- Home Section -->
	<header class="home-section container">
		<div class="row">
			<div class="col">Image here</div>
			<div class="col">
				<p class="greeting">HI THERE! I'M</p>
				<h1 class="myname">
					<span class="highlight">RISHI </span> KUMAR
				</h1>
				<p class="smallbio">
					A <span class="highlight"> Back-End Java Developer </span>
					passionate about creating interactive applications.
				</p>
			</div>
		</div>
	</header>

	<!-- About Section -->
	<div class="about-section container">
		<div class="row align-line">
			<div class="make-line"></div>
			<div class="some-info">SOME INFO</div>
		</div>

		<h1 class="topic">ABOUT ME</h1>
		<div class="about-info-border">
			<p class="about-info">
				I'm a Back-end Java developer with a background in Software
				Development. My years of IT experience has given me a strong
				foundation for development and building complex solutions. I
				graduated from the <span class="graduated-from">ABES
					Institute of Technology</span>. I am passionate about coding and solving
				problems through code, and I am excited to work alongside other
				amazing programmers and learn so much more!
			</p>
		</div>
	</div>

	<!-- Skills Section -->
	<div class="skills-section container">
		<div class="row align-line">
			<div class="make-line"></div>
			<div class="some-info">CHECK OUT MY</div>
		</div>
		<h1 class="topic">SKILLS</h1>
		<div class="skill-info-border"></div>
	</div>

	<!-- Work Section -->
	<div class="work-section container">
		<div class="row align-line">
			<div class="make-line"></div>
			<div class="some-info">TAKE A LOOK AT MY</div>
		</div>
		<h1 class="topic">WORK</h1>
		<div class="work-info-border"></div>
	</div>

	<!-- Contact Section -->
	<div class="contact-section container">
		<div class="row align-line">
			<div class="make-line"></div>
			<div class="some-info">SAY HELLO</div>
		</div>
		<h1 class="topic">CONTACT</h1>
		<div class="contact-info-border">
			<div>
				<h3>Get in Touch</h3>
				<div class="in-touch">
					<div class="outlook">Hi there.</div>
					<div class="mail">Hi there.</div>
				</div>
			</div>
			<div>
				<h3>Contact Form</h3>
				<form>
						<div class="mb-3">
							<input type="text"
									class="form-control"
									id="exampleInputText1"
									placeholder="Your Name*"
									required>
						</div>
						<div class="mb-3">
							<input id="emailHelp"
									type="email"
									class="form-control"
									placeholder="Your Email*"
									required>
						</div>
						<div class="mb-3">
							<input type="text"
									class="form-control"
									id="exampleInputText1"
									placeholder="Subject*"
									required>
						</div>
						<div class="mb-3">
							<input type="text"
									class="form-control"
									id="exampleInputText1"
									placeholder="Your Message*"
									required>
						</div>
						<div class="sbmt-btn">
							<button type="submit" class="submit-button">SEND</button>
						</div>	
						
						<i class="fa-solid fa-hill-rockslide"></i>
					</form>
			</div>
		</div>
	</div>

	<script src="https://kit.fontawesome.com/f60f9d6702.js" crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>
</html>